#logo {
  height: 120%;
  display: inline-block;
  margin-right: 12px;
}

.navbar {
  margin-bottom:0;
  border:none;
}

.navbar-brand .glyphicon {
  margin-right:6px;
}

h1, h2, h3, h4, h5, h6, p, span, a, li, i {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.section-header {
  margin: 80px 0;
}

.testimonials blockquote {
  text-align:center;
  border: none;
  margin: 0;
}

blockquote p {
  font-size: 25px;
}

section.testimonials {
  margin: 0;
}

.thumbnail {
  margin: 2px;
  padding: 0;
}

.col-md-4, .col-sm-6, .col-md-offset-0 {
  padding: 0px;
}
